* {
	box-sizing: border-box;
}
html body{
	margin: 0;
	background: #f5f5f5;
	color: #898989;
}
.pageHeader{
	background-color: white;
	height:100px;
}
.page-header-container {
	float: left;
	width: 50%;
	height: 100%
}
.page-header-container > h1 {
	margin: 0;
	line-height: 100px;
}
.page-share-search{
	float: right;
	width: 50%;
	height: 100%;
	text-align: right;
	padding: 45px 0;
}

.page-share-search > * {
	margin: 0 15px;
}
.pageHeader a {
	text-decoration: none;
	color: #898989;
	cursor: pointer;
}
.bodyWidth{
	max-width: 1260px;
	min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.header-box::before, .header-box::after {
	display: table;
	clear: both;
	content: " ";
}
.mainDiv{
}
.mainDiv *{
	/*border: 1px solid grey;*/
}
.mainAside{
	width: 25%;
	float: left;
}
.asideBx{
	min-width: 340px;
	min-height: 170px;
	background-color: lightgrey;
	padding: 20px;
}
section{
	width: 75%;
	float: left;
}
.clearClass{
	clear: both;
}
.registerDiv{
	text-align: right;
}
.floatLeftClass{
	float: left;
}
.articlesHeader{
	margin: 0 0 10px 0;
	position: relative;
	text-transform: uppercase;
}

.categoryHeader{
	margin: 0 0 10px 0;
	position: relative;
	text-transform: uppercase;
	border: 1px solid #bbb;
}
.filter-container {
	float: left;
    width: 50%;
    box-sizing: border-box;
	position: relative;
	padding: 10px 15px;
}
.category-selection-title {
	background-image: url(./assets/dot.png);
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: center;
}
.category-selection-title span {
	background: #f5f5f5;
    padding: 10px;
    border: none;
}
nav{
	width: 100%;
	height: 80px;
	text-transform: uppercase;
}
.mainNavBar{
	background-color: #98b880;
	height: 50%;
}
.subNavBar{
	background-color:white;
	height: 50%;
}
.mainNav{
	line-height: 40px;
	color: white;
}
.subNav{
	text-transform: capitalize;
	line-height: 40px;
}
.mainVav a{
	margin: 2px;
}
.subNav a{
	margin: 2px;
}
h4{
	color: #98b880;
}
h4 span{
	color: #898989;
}
.article-desc{
	padding: 10px;
}
.article-click-link{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.content{
	position: relative;
	width: 270px;
	float: left;
	margin: 0px 20px 20px 0px;
	background-color: beige;
	box-shadow: 3px 3px 5px lightgrey;
	/*
	display: inline-block;
	height: 513px;
	-moz-column-break-inside: avoid;
	*/
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}
.contentsDiv {
	/*
	height: 1220px;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-gap: 15px;
	column-fill: auto;
	*/
	-webkit-column-fill: auto;
	-webkit-column-count: 3;
	column-count: 3;
	column-fill: auto;
}
.contentsDiv::before, .contentsDiv::after {
	display: table;
	content: " ";
	clear: both;
}
.content > .imgs{
	width:270px;
}
.share-search{
	/*line-height: 100px;
	margin: 0 10px;*/
}
.share-search a{
    text-decoration: none;
    cursor: pointer;
	color: #898989;
}
.page-footer{
	height: 150px;
	background-color: white;
    padding: 20px;
}
.page-footer > div{
	text-align: center;
}